<//-- Form start -->
<%= form_for(@home) do |f| %>

  <% if @home.errors.any? %>
    <div class="alert-message error">
      <% @home.errors.full_messages.each do |msg| %>
        - <%= msg %></br>
      <% end %>
    </div>
  <% end %>

  <%= f.text_field :email, :class => "xlarge", :placeholder => "E-mail" %>
  <span class="help-block">Ex: joao@paciente.com</span>
  <%= f.submit "Cadastrar", :class => "btn info large"%>

<% end %>
