<div class="topbar">
  <div >
    <div class="container">
      <ul class="nav">
        <li>
        <a href="/" class="logo" ><%= image_tag "go2doc.png",  :height => '50px' %><%= image_tag "beta_icon2.png", :style=>"padding: 5px;" %>
        </a>
        </li>

      </ul>
      <ul class="nav secondary-nav">
        <li>
        <a href="http://blog.go2doc.com.br">Blog</a>
        </li>
    </div>
  </div>
</div>

