 <div class="container">
    <br />
    <br />

   <div class="row">
     
     <div style="margin-left:867px" class="fb-like" data-href="http://www.facebook.com/pages/go2Doc/188721514549838" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
     <br/>
     <br/>
     <div style="margin-left:867px"><a href="https://twitter.com/go2docBR" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-show-screen-name="false">Siga @go2docBR</a></div>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>

     
     <div class="row">
  <div class="span3">
    <%= image_tag "medico-dentista.png" %>
  </div>

        <br />
  <div class="span10 offset3">
    <h3>Em breve, marcar consultas ficará muito mais fácil.</h3>
        <br />
        <h4><strong>Cadastre seu e-mail e receba notícias em primeira mão!</strong></h4>
      
        <%= render :partial => "form" %>

        <br/>
        <h4><strong>Você é um profissional da saúde? Não fique de fora!</strong></h4>
        <%= button_to "Clique aqui!", doctors_path, :class => "btn info large", :method => "get" %>
  </div>
</div>

   </div>

 </div>
