<div class="container">
  <br />

  <div class="row">
    <div class="span3">
      <%= image_tag "perfil-go2doc.png" %>
    </div>

    <div class="span10 offset3">
      <h4>Cadastre seu perfil</h4>
      <br />
      <p>Crie seu perfil com foto, informações acadêmicas, especialidades, 
        publicações e experiência profissional, para que mais pacientes
        possam te encontrar.</p>
    </div>

    </div>
 
   <div class="row">
    <div class="span1">
      <%= image_tag "consultorio-clinica.png" %>
    </div>

    <div class="span13 offset3">
      <h4>Cadastre suas localidades de atendimento</h4>
      <br />
      <p>Esteja visível para os pacientes que procuram pela sua especialidade,
        nas localidades onde você atende.</p>
    </div>

    </div>

   <div class="row">
    <div class="span3">
      <%= image_tag "agenda-medico.png" %>
    </div>

    <div class="span10 offset3">
      <h4>Customize sua agenda para cada localidade de atendimento</h4>
      <br />
      <p>Para cada local, determine os horários de atendimento, perfis de consulta 
        e convênios atendidos. Sua agenda estará sempre organizada e muito 
        mais requisitada!
      </p>
    </div>

    </div>

 
  </div>
