 <div class="container" style="padding-top:50px">

   <div class="row">
     <div style="margin-left:867px" class="fb-like" data-href="http://www.facebook.com/pages/go2Doc/188721514549838" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
     <div style="margin-left:867px; margin-top: 15px;"><a href="https://twitter.com/go2docBR" class="twitter-follow-button" data-show-count="false" data-lang="pt" data-show-screen-name="false">Siga @go2docBR</a></div>
     <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
   </div>

     
     <div class="row">
  <div class="span3">
    <%= image_tag "medico-dentista.png" %>
  </div>
  <br/>
  <div class="span10 offset3">
    <h3>O go2Doc é uma solução prática e inovadora para agendamento online de consultas de saúde.</h3>
    <br />
    <p>Pacientes podem encontrar médicos, dentistas, fisioterapeutas, nutricionistas e outros profissionais de saúde e agendar consultas diretamente via Internet, fácil e comodamente.<br /><br /> Para profissionais de saúde, além de uma prática ferramenta de gestão de agenda, o go2Doc permite a captação de fluxo adicional de pacientes que buscam, na Internet, informações sobre saúde, doenças, tratamentos e profissionais.</p>
    <br />
      
        <%= render :partial => "form" %>

  </div>
</div>

   </div>

 </div>
